.App {
  text-align: center;
  margin-top:50px;
}
.DateText {
  text-align: center;
}
.Card {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: 50px;
}
.AlignTextCenter {
  text-align: center;
}
